.page1{
    width: 1250px;
    height: 180px;
    background-color: white;
     align-items: center;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
     
     
}
.page1 div{
    height: 80px;
    width: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
 
.button1{
    width: 180px;
    height: 42px;
    border-radius: 30px;
    font-size: 16px;
    background-color: rgb(89, 195, 181);
    border: none;
    color: white;
    font-weight: 200px;
}
.page1a{
    word-spacing: 0.5em;
    text-decoration-line: none;

}
.page1b{
    align-items: center;
    padding: 0 30px;
    flex-direction: row;
    text-decoration: none;
    color: #343333;
    
    
}
a{
    color: rgb(43, 40, 40);
    text-decoration-line: none;
    margin-left: 30px;

}
.page2{
    
    height: 700px;
    width: 1250px;
    background-image: url(imge/ba.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color :white;
    padding: 110px 110px;
   


}
.heading1{
    font-size: 80px;
     
}
.p1{
    font-size: 30px;

}
.button2{
    width: 240px;
    height: 60px;
    border-radius: 30px;
    font-size: 23px;
    background-color: rgb(89, 195, 181);
    border: none;
    color: white;
    font-weight:
} 
.page3{
        width: 1250px;
        height: 250px;
        background-color: white;
        font-size: 30px;
        color: rgb(82, 67, 67);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .page4{
        width: 1250px;
        height: 250px;
        background-color: white;
        font-size: 25px ;
        color: rgb(60, 59, 59);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:center; 
        padding: 0px;
        margin: 0;
    }
    .page4 div{
        height: 250px;
        width: 220px;
        background-color: white;
        color: rgb(60, 59, 59);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center; 
    }
    .page-4{
        border-radius: 20px;
    }
    .page-4 img{
       width: 200px;
       height: 150px; 
       border-radius: 10px;
    }


    .page5{
        width: 1250px;
        height: 700px;
        background-image: url(imge/7.jpg) ;
        background-color: rgb(95, 202,199,.8);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .page5 div{
        width: 920px;
        height: 500px;
        
        border-radius: 10px;
        border-width:  3px;
        border-color:  white;
        padding: 5px;
        border-style: outset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(112, 15, 15);
        
        
    }
 




    .button3{
        width: 160px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
   background-color: transparent;
    
    color: rgb(246, 242, 242);
    border-width: 2px;
    border-style:  outset;
    
    border-color: rgb(248, 245, 245);


    }
    .button3 :hover{
        background-color: rgb(62, 81, 174);
        color: rgb(234, 14, 14);
        
    }
     .page6{
        width: 1250px;
        height: 300px;
        background-color: white;
         
        color:#F7889A;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
     }
     .heading3{
        font-size: 55px;
        color: rgb(50, 48, 48);
     }
.page7{
    width: 1250px;
    height: 190px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}
.page7 div{
    height: 150px;
    width: 200px;
    background-color: #F7889A;
    border-radius: 10px;
     
}
.page7 img{
    border-radius: 10px;
}
.page8{
    width: 1250px;
    height: 800px;
    
    background-image: url(imge/16.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #F7889A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #F7889A ;

    
}
.heading4{
    font-size: 25px;
    color: rgb(50, 48, 48);
}
.page8 img{
    width: 120px;
    height: 120px;
    border-radius: 70px;
}
.page9{
    width: 1250px;
    height: 700px;
    background-image: url(imge/18.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #F7889A;
    background-color: #F7889A ;
    display: flex;
    flex-direction: column;
    
    
    
     
}
.a9{
    width: 1250px;
    height: 200px; 
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    
     
}
.b9{
    width: 1250px;
    height:500px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:0;
}
.c9{

     
    
    width: 750px ;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    font-size: 18px;
   
}
.c9 img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.c-9{
    width: 100px;
    height: 200px;
    
}
.c--9{
    width: 250px;
 height: 250px;
  
}
.c---9{
    width: 50px;
    height: 250px;
}
.page10{
    width: 1250px;
    height: 1300px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
     
}

 
.page-10{
    width: 500px;
    height: 1300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;

    position: relative;
    top: 0px;
    left: 0px;
}
.a10{
    width: 500px;
    height: 70px;
    background-color: white;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(207, 199, 199);
   
     
     
}
 

.a-10{
    width: 165px;
    height: 70px ;
    background-color:  white;
    font-size: 30px;
color: rgb(117, 133, 197);
display: flex;
align-items: center;
justify-content: start;
 
      
}
.b-10{
    width: 165px;
    height: 70px ;
    background-color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 19px;


}
.page--10{
    width: 270px;
    height: 250px;
    background-color:#eedee1;
    position: relative;
    top: 0px;
    right: 0px;
    border-radius: 10px;
    padding: 0px px;
    margin: 0;
    color: #5dcfad;
display: flex;
flex-direction: column;
justify-content: center;
    align-items: center;
    font-size: 17px;
}
.heading6{
    font-size: 25px;
    color: rgb(35, 33, 33);
}





.heading5{
    width: 1250px;
    height: 150px; 
    color: rgb(83, 77, 77);
    display: inline-flex;
    flex-direction: ;
    justify-content: start;
    align-items: center;
    font-size: 30px;
    padding: 0px 130px;  
}
.page11{
    width: 1250px;
    height: 520px;
    background-color: #F7889A;
    background-image: url(imge/24.jpg);
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: ;
    align-items: center;
}
.button4{
    width: 160px;
height: 60px;
border-radius: 30px;
font-size: 20px;
background-color:rgb(62, 198, 198);

color: rgb(246, 242, 242);
 
 

border: none;


}
.page11 input{
    border-radius: 30px;
    width: 300px;
    height: 60px;
    background-color: transparent;
    color: #f4ecec;
    border: 3px solid rgb(115, 115, 115);
    font-size: 20px;
    
}
.page-11{
width: 600px;
height: 170px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
 
.FOLLOW{
    color: #f8f8f8;
    font-size: 20px;
}
.icon{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
    background-color:  transparent;
    
}
.icon div{
    width: 30px;
    height: 30px;
    background-color:  transparent;
    border-radius: 20px;
    border: 2px solid rgb(187, 176, 176);
    font-size: 18px;
    }
 .icon i{
position: relative;
top: 5px;
left: 6px;   
border: 1px solid transparent; 
 }
 .icon div :hover{
    border: 1px solid transparent;
 }

  .icon :hover{
    border: 2px solid white;
  }
   .page12{
width: 1250px;
height: 260px;
background-color: #343333;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
   }   

   .page12 div{
width: 300px;
height: 260px;
 

   }

   .a12{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
   }
   .a12 div{
width: 200px;
height: 100px;
 
color: white;
font-size: 20px;
  }
  .b12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .b12 img{
    width: 60px;
    height: 60px;
  }
  .c12{
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .c12 div{
    width: 200px;
    height: 150px;
    
    color: #f8f8f8;
    font-size: 20px;
  }
  .c12 a{
    color: white;
  }
   


      
     

 

      

     



      
     

 
